{{log this.selectedItems}}
<div class="ember-multiselect">
  <ul id="{{this.elementId}}-ul" tabindex="0" class="form-control mb-0" ...attributes {{on 'focus' this.onFocus}}>
    {{#each this.selectedItems as |selectedItem|}}
      <li class="badge badge-info">
        <span>
          {{selectedItem}}
        </span>
        <button
          aria-label="Remove"
          tabindex="-1"
          type="button"
          class="close"
          {{on 'click' (fn this.removeItem selectedItem)}}
        >
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </li>
    {{/each}}
  </ul>
  <Input class="form-control d-none" />
  <NativeSelectBox
    id="{{this.elementId}}-select"
    class="form-control shadow-none d-none p-0"
    size="5"
    @onSelect={{fn this.addItem}}
    ...attributes
    {{on 'blur' this.onBlur}} as |sb|
  >
    {{#each @options as |option|}}
      <sb.Option @value={{option.id}}>
        {{option.name}}
      </sb.Option>
    {{/each}}
  </NativeSelectBox>
  <div class="valid-feedback d-block">
    Looks good!
  </div>
</div>